body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: gray;
}
.searchInput::placeholder {
  color: lightgray;
}
.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
}
.slider {
  background-image: url(img/nordwood-themes-9a58YsGiTPk-unsplash.jpg);
  clip-path: polygon(100% 0, 100% 100%, 61% 100%, 0 76%, 0 0);
  overflow: hidden;
}
.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in;
}
.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderBG {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}
.sliderImg {
  z-index: 1;
}
.sliderTitle {
  position: absolute;
  top: 10%;
  color: white;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}
.sliderPrice {
  position: absolute;
  top: 10%;
  color: white;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 1px solid gray;
  z-index: 1;
}
.buyButton {
  position: absolute;
  top: 50%;
  color: white;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  font-weight: 900;
  background-color: black;
  border: 1px solid gray;
  z-index: 1;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBG {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBG {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBG {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBG {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBG {
  background-color: pink;
}
.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: pink;
}

.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.feature {
  display: flex;
  flex-direction: column;
}
.featureIcon {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: ;
}
.featureDEsc {
}
